/* Seção principal */

#mainContent {
    height: auto;
    width: 100%;

    margin-top: 8.25vh;
    padding-top: 1.75vh;

    overflow-y: auto;
}


/* Seção de cards de produtos */

#cardContainer {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.3vh;

    margin-bottom: 3vh;
}


/* Seção de funções de listagem */

#listingFunctions {
    width: 90%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin-left: 1%;
    margin-bottom: 2vh;
}


/* Estrutura de card de produto */

.card {
    height: 15vh;
    width: 92.5%;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    padding-left: 1vw;

    border: 0.3px solid rgba(0, 0, 0, 0.5);
    /*box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.3);*/
    border-radius: 8px;

    overflow: none;
}

.descricaoContainer {
    width: 40vw;
}

.precoContainer {
    width: 22vw;
}

.precoProduto {
    color: var(--azul);
    font-size: 12px;
    font-weight: 600;
}

.qntdComprar {
    height: 5vh;
    width: 20vw;

    color: white;
    font-weight: 500;

    background-color: var(--amarelo);

    border: 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.delete {
    margin-top: 4vh;
    background: url(../../../assets/delete.svg) no-repeat scroll;
}


/* Seção finalização do pedido */

#secaoFimPedido {
    height: auto;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.3vh;
}


/* Seção de cupons */

#cuponsDiv {
    height: 10vh;
    width: 92.5%;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    border: 0.3px solid rgba(0, 0, 0, 0.5);
    border-radius: 8px;

    overflow: none;
}

#inputCupomSection {
    height: 50%;
    width: 45%;

    display: flex;
    flex-direction: row;
    align-items: center;
}

#inputCupom {
    height: 100%;
    width: 100%;

    padding-left: 1vw;
    padding-right: 20%;

    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 6px;
}

#btnAddCupom {
    height: 85%;
    width: 20%;

    margin-left: -18%;

    color: white;
    font-weight: 500;

    background-color: var(--amarelo);

    border: 0px;
    border-radius: 5px;

    cursor: pointer;
}


/* Tabela do total */

#tabelaTotal {
    height: 14%;
    width: 44%;

    margin-right: -50%;

    border-spacing: 0px;
}

.rowTabela>th {
    padding: 5px;

    color: var(--azul);

    border: 1px solid rgba(0, 0, 0, 0.5);
}

.rowTabela>th:nth-child(1) {
    font-size: 8px;
    text-align: left;

    border-radius: 6px 0px 0px 6px;
}

.rowTabela>th:nth-child(2) {
    font-size: 12px;
    text-align: right;

    border-radius: 0px 6px 6px 0px;
}

#btnCalcularEntrega {
    color: black;
    text-decoration: underline;

    cursor: pointer;
}


/* Escolha de usuário */

#userOptions {
    height: 9vh;
    width: 92.5%;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 0.3vh;
}

#btnEscolherMais {
    height: 35%;
    width: 40%;

    color: var(--azul);
    font-size: 14px;
    text-decoration: underline;
}

#btnFinalizarPedido {
    height: 70%;
    width: 50%;

    color: white;
    font-weight: 500;

    background-color: var(--amarelo);

    border: 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
    border-radius: 5px;

    cursor: pointer;
}

@media (min-width:801px) {
    

    #notif {
        width: 30%;
    }

    #secaoFimPedido {
        flex-direction: row;
        align-items: flex-start;

        margin-top: 5vh;
    }

    #cuponsDiv {
        width: 55%;
    }

    #tabelaTotal {
        width: 40%;

        margin: 0;
    }
}