/* Seção principal */

#mainContent {
    height: auto;
    width: 100%;

    margin-top: 8.25vh;
    padding-top: 1.75vh;

    overflow-y: auto;
}


/* Seção de cards de produtos */

#cardContainer {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-bottom: 3vh;
}


/* Seção de funções de listagem */

#listingFunctions {
    width: 90%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin-left: 1%;
    margin-bottom: 2vh;
}

#sortingFunctions {
    width: 30vw;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;

    position: relative;
}

#btnAdd {
    height: 100%;
    width: 50%;
}


/* Estrutura de card de produto */

.card {
    height: 15vh;
    width: 97.5%;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    border: 0.3px solid rgba(0, 0, 0, 0.5);
    /*box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.3);*/
    border-radius: 8px;

    overflow: none;
}

.descricaoContainer {
    width: 45vw;
}

.precoContainer {
    width: 22vw;
}

.precoProduto {
    color: var(--azul);
    font-size: 12px;
    font-weight: 600;
}

.botaoComprar {
    height: 5vh;
    width: 22vw;
}


/* Seção de adicionar um novo produto */

#addProduto {
    height: 91.75vh;
    width: 100%;

    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    position: absolute;
    top: 8.25vh;
    z-index: 10;

    background-color: var(--vermelho)
}

#formContainer {
    height: 50%;
    width: 85%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1vh;

    margin-top: 3vh;
}

input,
textarea,
select {
    height: 15%;
    width: 90%;

    padding-left: 2vw;

    font-size: 12px;

    border-radius: 5px;

    background-color: white;
}

#descricaoProduto {
    height: 30%;

    resize: none;
}

#btnSection {
    height: 10%;
    width: 90%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#btnSection>button {
    height: 90%;
    width: 45%;

    color: white;
    font-size: 18px;
    font-weight: 500;
}

#btnCancelar {
    border: 0px;

    background-color: transparent;

    cursor: pointer;
    outline: none;
}


@media (min-width:801px) {
    #notif {
        width: 44%;
    }

    #addProduto {
        width: 80%;

        outline: 1px solid white;
        outline-offset: -1px
    }
}