<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="..\..\global.css">
        <link rel="stylesheet" type="text/css" href="style.css">
        <title>Listagem de Produtos - Admin</title>
    </head>
    <body>
        <script>
            function menuClick(){
                let menu = document.getElementById('sidebar');
                let menuState = menu.style.display === 'none';
                
                menu.style.display = 'flex';
                
                document.addEventListener("click", checkClick);
            }
            
            function checkClick(evt){
                const menu = document.getElementById('sidebar');
                const button = document.getElementById('hamburgerMenu');
                let targetElement = evt.target;
                
                if (targetElement != menu && !menu.contains(event.target) && targetElement != button && !button.contains(event.target)) {
                    menu.style.display = "none";
                    document.removeEventListener("click", checkClick);
                }
            }
        </script>
        <div class="main">
            <div id="sidebar">
                <img class="logo" src="../../../assets/397b43ea8048bab70f0699cbeb3ace55.png">
                
                <ul class="navLinks">
                    <li class="secaoSelecionada"><a>Todos</a></li>
                    <li><a>Pizza</a></li>
                    <li><a>Sobremesa</a></li>
                    <li><a>Pastel</a></li>
                    <li><a>Açai</a></li>
                    <li><a>Bebidas</a></li>
                </ul>
            </div>
            
            <div class="mainContent">
                <nav class="navbar">
                    <button id="hamburgerMenu" class="iconButton" onclick="menuClick()"></button>
                    <div class="navbarFunctions">
                        <button class="shoppingCart iconButton"></button>
                        <button class="notifications iconButton"></button>
                        <button class="userProfile iconButton"></button>
                    </div>
                </nav>
                <div class="listingFunctions">
                    <div class="sectionDiv">
                        <h2 class="titulo">Produtos</h2>
                        <h2 class="titulo secaoAtual">Todos</h2>
                    </div>
                    <div class="sortingFunctions">
                        <button class="iconButton filter"></button>
                        <button class="iconButton sortByAlpha"></button>
                    </div>
                </div>
                
                <div class="cardContainer">
                    <div class="card">
                        <img src="../../../assets/imagem.png" class="imgCard">
                        <div class="descricaoContainer">
                            <h2 class="nomeProduto">Pizza de Marguerita</h2>
                            <p class="descricaoProduto">(Muçarela, presunto, tomate , orégano, cebola, ovos)</p>
                        </div>
                        <div class="precoContainer">
                            <p class="precoProduto">R$ 60</p>
                            <button class="botaoComprar">Comprar</button>
                        </div>
                    </div>
                    <div class="card">
                        <img src="../../../assets/imagem.png" class="imgCard">
                        <div class="descricaoContainer">
                            <h2 class="nomeProduto">Pizza de Marguerita</h2>
                            <p class="descricaoProduto">(Muçarela, presunto, tomate , orégano, cebola, ovos)</p>
                        </div>
                        <div class="precoContainer">
                            <p class="precoProduto">R$ 60</p>
                            <button class="botaoComprar">Comprar</button>
                        </div>
                    </div>
                    <div class="card">
                        <img src="../../../assets/imagem.png" class="imgCard">
                        <div class="descricaoContainer">
                            <h2 class="nomeProduto">Pizza de Marguerita</h2>
                            <p class="descricaoProduto">(Muçarela, presunto, tomate , orégano, cebola, ovos)</p>
                        </div>
                        <div class="precoContainer">
                            <p class="precoProduto">R$ 60</p>
                            <button class="botaoComprar">Comprar</button>
                        </div>
                    </div>
                    <div class="card">
                        <img src="../../../assets/imagem.png" class="imgCard">
                        <div class="descricaoContainer">
                            <h2 class="nomeProduto">Pizza de Marguerita</h2>
                            <p class="descricaoProduto">(Muçarela, presunto, tomate , orégano, cebola, ovos)</p>
                        </div>
                        <div class="precoContainer">
                            <p class="precoProduto">R$ 60</p>
                            <button class="botaoComprar">Comprar</button>
                        </div>
                    </div>
                    <div class="card">
                        <img src="../../../assets/imagem.png" class="imgCard">
                        <div class="descricaoContainer">
                            <h2 class="nomeProduto">Pizza de Marguerita</h2>
                            <p class="descricaoProduto">(Muçarela, presunto, tomate , orégano, cebola, ovos)</p>
                        </div>
                        <div class="precoContainer">
                            <p class="precoProduto">R$ 60</p>
                            <button class="botaoComprar">Comprar</button>
                        </div>
                    </div>
                    <div class="card">
                        <img src="../../../assets/imagem.png" class="imgCard">
                        <div class="descricaoContainer">
                            <h2 class="nomeProduto">Pizza de Marguerita</h2>
                            <p class="descricaoProduto">(Muçarela, presunto, tomate , orégano, cebola, ovos)</p>
                        </div>
                        <div class="precoContainer">
                            <p class="precoProduto">R$ 60</p>
                            <button class="botaoComprar">Comprar</button>
                        </div>
                    </div>
                    <div class="card">
                        <img src="../../../assets/imagem.png" class="imgCard">
                        <div class="descricaoContainer">
                            <h2 class="nomeProduto">Pizza de Marguerita</h2>
                            <p class="descricaoProduto">(Muçarela, presunto, tomate , orégano, cebola, ovos)</p>
                        </div>
                        <div class="precoContainer">
                            <p class="precoProduto">R$ 60</p>
                            <button class="botaoComprar">Comprar</button>
                        </div>
                    </div>
                    <div class="card">
                        <img src="../../../assets/imagem.png" class="imgCard">
                        <div class="descricaoContainer">
                            <h2 class="nomeProduto">Pizza de Marguerita</h2>
                            <p class="descricaoProduto">(Muçarela, presunto, tomate , orégano, cebola, ovos)</p>
                        </div>
                        <div class="precoContainer">
                            <p class="precoProduto">R$ 60</p>
                            <button class="botaoComprar">Comprar</button>
                        </div>
                    </div>
                    <div class="card">
                        <img src="../../../assets/imagem.png" class="imgCard">
                        <div class="descricaoContainer">
                            <h2 class="nomeProduto">Pizza de Marguerita</h2>
                            <p class="descricaoProduto">(Muçarela, presunto, tomate , orégano, cebola, ovos)</p>
                        </div>
                        <div class="precoContainer">
                            <p class="precoProduto">R$ 60</p>
                            <button class="botaoComprar">Comprar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>