<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="..\..\global.css">
        <link rel="stylesheet" type="text/css" href="style.css">
        <title>Listagem de Produtos - Cliente</title>
    </head>
    <body>
        
        <div id="main">
            <div id="mainContent">
                <nav id="navbar">
                    <button id="hamburgerMenu" class="iconButton" onclick="menuClick()"></button>
                    <div id="navbarFunctions">
                        <button id="shoppingCart" class="iconButton"></button>
                        <button id="notifications" class="iconButton"></button>
                        <button id="userProfile" class="iconButton"></button>
                    </div>
                </nav>
                
                <div id="notifContainer">
                    <div id="notif">
                        <p id="notifMessage" class="notifText">Item adicionado ao carrinho</p>
                        <a id="btnIrAoCarrinho" class="notifText" href="#">Ir para o carrinho</a>
                    </div>
                </div>
                
                
                
                <div id="cardContainer">
                    <div id="listingFunctions">
                        <div id="sectionDiv">
                            <h2 class="titulo">Produtos</h2>
                            <h2 id ="secaoAtual" class="titulo">Todos</h2>
                        </div>
                        <div id="sortingFunctions">
                            <button id="filter" class="iconButton" onclick="filterMenuClick()"></button>
                            <button id="sortByAlpha" class="iconButton" onclick="sortByAlpha()"></button>
                            <div id="filterOptions">
                                <p id="txtSorting">Filtrar por preço: </p>
                                <div id="filterOptionsContainer">
                                    <button class="botaoOpcoes botaoFill" onclick="filtrarPorPreco(event)">Todos</button>
                                    <button class="botaoOpcoes botaoFill" onclick="filtrarPorPreco(event)">R$5 à R$25</button>
                                    <button class="botaoOpcoes botaoFill" onclick="filtrarPorPreco(event)">R$26 à R$45</button>
                                    <button class="botaoOpcoes botaoFill" onclick="filtrarPorPreco(event)">R$46 ou mais</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <img class="imgCard" src="../../../assets/imagem.png">
                        <div class="descricaoContainer">
                            <h2 class="nomeProduto">Pizza de Marguerita</h2>
                            <p class="descricaoProduto">(Muçarela, presunto, tomate , orégano, cebola, ovos)</p>
                        </div>
                        <div class="precoContainer">
                            <p class="precoProduto">R$ 60</p>
                            <button class="botaoComprar botaoFill" onclick="addProdAoCarrinho()">Comprar</button>
                        </div>
                    </div>
                    <div class="card">
                        <img class="imgCard" src="../../../assets/imagem.png">
                        <div class="descricaoContainer">
                            <h2 class="nomeProduto">Pizza de Marguerita</h2>
                            <p class="descricaoProduto">(Muçarela, presunto, tomate , orégano, cebola, ovos)</p>
                        </div>
                        <div class="precoContainer">
                            <p class="precoProduto">R$ 60</p>
                            <button class="botaoComprar botaoFill" onclick="addProdAoCarrinho()">Comprar</button>
                        </div>
                    </div>
                    <div class="card">
                        <img class="imgCard" src="../../../assets/imagem.png">
                        <div class="descricaoContainer">
                            <h2 class="nomeProduto">Pizza de Marguerita</h2>
                            <p class="descricaoProduto">(Muçarela, presunto, tomate , orégano, cebola, ovos)</p>
                        </div>
                        <div class="precoContainer">
                            <p class="precoProduto">R$ 60</p>
                            <button class="botaoComprar botaoFill" onclick="addProdAoCarrinho()">Comprar</button>
                        </div>
                    </div>
                    <div class="card">
                        <img class="imgCard" src="../../../assets/imagem.png">
                        <div class="descricaoContainer">
                            <h2 class="nomeProduto">Pizza de Marguerita</h2>
                            <p class="descricaoProduto">(Muçarela, presunto, tomate , orégano, cebola, ovos)</p>
                        </div>
                        <div class="precoContainer">
                            <p class="precoProduto">R$ 60</p>
                            <button class="botaoComprar botaoFill" onclick="addProdAoCarrinho()">Comprar</button>
                        </div>
                    </div>
                    <div class="card">
                        <img class="imgCard" src="../../../assets/imagem.png">
                        <div class="descricaoContainer">
                            <h2 class="nomeProduto">Pizza de Marguerita</h2>
                            <p class="descricaoProduto">(Muçarela, presunto, tomate , orégano, cebola, ovos)</p>
                        </div>
                        <div class="precoContainer">
                            <p class="precoProduto">R$ 60</p>
                            <button class="botaoComprar botaoFill" onclick="addProdAoCarrinho()">Comprar</button>
                        </div>
                    </div>
                    <div class="card">
                        <img class="imgCard" src="../../../assets/imagem.png">
                        <div class="descricaoContainer">
                            <h2 class="nomeProduto">Pizza de Marguerita</h2>
                            <p class="descricaoProduto">(Muçarela, presunto, tomate , orégano, cebola, ovos)</p>
                        </div>
                        <div class="precoContainer">
                            <p class="precoProduto">R$ 60</p>
                            <button class="botaoComprar botaoFill" onclick="addProdAoCarrinho()">Comprar</button>
                        </div>
                    </div>
                    <div class="card">
                        <img class="imgCard" src="../../../assets/imagem.png">
                        <div class="descricaoContainer">
                            <h2 class="nomeProduto">Pizza de Marguerita</h2>
                            <p class="descricaoProduto">(Muçarela, presunto, tomate , orégano, cebola, ovos)</p>
                        </div>
                        <div class="precoContainer">
                            <p class="precoProduto">R$ 60</p>
                            <button class="botaoComprar botaoFill" onclick="addProdAoCarrinho()">Comprar</button>
                        </div>
                    </div>
                    <div class="card">
                        <img class="imgCard" src="../../../assets/imagem.png">
                        <div class="descricaoContainer">
                            <h2 class="nomeProduto">Pizza de Marguerita</h2>
                            <p class="descricaoProduto">(Muçarela, presunto, tomate , orégano, cebola, ovos)</p>
                        </div>
                        <div class="precoContainer">
                            <p class="precoProduto">R$ 60</p>
                            <button class="botaoComprar botaoFill" onclick="addProdAoCarrinho()">Comprar</button>
                        </div>
                    </div>
                </div>
            </div>
            
            <div id="sidebar">
                <img id="logo" src="../../../assets/397b43ea8048bab70f0699cbeb3ace55.png">
                
                <ul id="navLinks">
                    <li id="secaoSelecionada"><a>Todos</a></li>
                    <li><a>Pizza</a></li>
                    <li><a>Sobremesa</a></li>
                    <li><a>Pastel</a></li>
                    <li><a>Açai</a></li>
                    <li><a>Bebidas</a></li>
                </ul>
            </div>
        </div>
        <script>
            const notification = document.getElementById('notifContainer');
            const notificationMessage = document.getElementById('notifMessage');
            const notificationButton = document.getElementById('btnIrAoCarrinho');
            const sidebarMenu = document.getElementById('sidebar');
            const sidebarButton = document.getElementById('hamburgerMenu');
            const filterMenu = document.getElementById('filterOptions');
            const filterButton = document.getElementById('filter');
            const sortByAlphaButton = document.getElementById('sortByAlpha')
            
            var timeoutHandle;
            
            function menuClick(){
                sidebarMenu.style.display = 'flex';
                
                document.addEventListener('click', checkSidebarClick);
            }
            
            function checkSidebarClick(evt){
                let targetElement = evt.target;
                
                if (targetElement != sidebarMenu && !sidebarMenu.contains(event.target) && targetElement != sidebarButton && !sidebarButton.contains(event.target)) {
                    sidebarMenu.style.display = 'none';
                    document.removeEventListener('click', checkClick);
                }
            }
            
            function filterMenuClick(){
                filterMenu.style.display = 'flex';
                
                document.addEventListener('click', checkfilterMenuClick);
            }
            
            function checkfilterMenuClick(evt){
                let targetElement = evt.target;
                
                if (targetElement != filterMenu && !filterMenu.contains(event.target) && targetElement != filterButton && !filterButton.contains(event.target)) {
                    filterMenu.style.display = 'none';
                    document.removeEventListener('click', checkfilterMenuClick);
                }
            }
            
            function addProdAoCarrinho(){
                notificationMessage.textContent = 'Item adicionado ao carrinho';
                notificationButton.style.display = 'flex';
                notification.style.display = 'flex';
                
                window.clearTimeout(timeoutHandle);
                timeoutHandle = setTimeout(() => { notification.style.display = 'none'; }, 3000);
            }
            
            function sortByAlpha(){
                let state = sortByAlphaButton.style.backgroundColor == 'rgba(0, 0, 0, 0.5)';
                notificationMessage.textContent = state ? 'Itens sendo exibidos em sua ordem padrão' : 'Itens organizados de A à Z';
                notificationButton.style.display = 'none';
                sortByAlphaButton.style.backgroundColor = state ? '#DC9000' : 'rgba(0, 0, 0, 0.5)';
                notification.style.display = 'flex';
                
                window.clearTimeout(timeoutHandle);
                timeoutHandle = setTimeout(() => { notification.style.display = 'none'; }, 3000);
            }
            
            function filtrarPorPreco(evt){
                notificationMessage.textContent = 'Itens filtrados por: ' + evt.target.textContent;
                notificationButton.style.display = 'none';
                notification.style.display = 'flex';
                
                console.log('te')
                
                window.clearTimeout(timeoutHandle);
                timeoutHandle = setTimeout(() => { notification.style.display = 'none'; }, 3000);
            }
        </script>
    </body>
</html>