<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="..\..\global.css">
        <link rel="stylesheet" type="text/css" href="style.css">
        <title>Listagem de Produtos - Cliente</title>
    </head>
    <body>
        <script>
            function menuClick(){
                let menu = document.getElementById('sidebar');
                menu.style.display = 'flex';
                
                document.addEventListener('click', checkClick);
            }
            
            function checkClick(evt){
                const menu = document.getElementById('sidebar');
                const button = document.getElementById('hamburgerMenu');
                let targetElement = evt.target;
                
                if (targetElement != menu && !menu.contains(event.target) && targetElement != button && !button.contains(event.target)) {
                    menu.style.display = 'none';
                    document.removeEventListener('click', checkClick);
                }
            }
            
            function addProdAoCarrinho(){
                let notification = document.getElementById('notifContainer');
                
                notification.style.display = 'flex';
                
                setTimeout(() => { notification.style.display = 'none'; }, 3000);
            }
            
            
        </script>
        <div id="main">
            <div id="mainContent">
                <nav id="navbar">
                    <button id="hamburgerMenu" class="iconButton" onclick="menuClick()"></button>
                    <div id="navbarFunctions">
                        <button id="shoppingCart" class="iconButton"></button>
                        <button id="notifications" class="iconButton"></button>
                        <button id="userProfile" class="iconButton"></button>
                    </div>
                </nav>
                
                <div id="notifContainer">
                    <div id="notif">
                        <p class="notifText">Item adicionado ao carrinho</p>
                        <a id="btnIrAoCarrinho" class="notifText" href="#">Ir para o carrinho</a>
                    </div>
                </div>
                
                <div id="cardContainer">
                    
                    <div id="listingFunctions">
                        <div id="sectionDiv">
                            <h2 class="titulo">Produtos</h2>
                            <h2 id ="secaoAtual" class="titulo">Todos</h2>
                        </div>
                        <div class="sortingFunctions">
                            <button id="filter" class="iconButton"></button>
                            <button id="sortByAlpha" class="iconButton"></button>
                        </div>
                    </div>
                    <div class="card">
                        <img class="imgCard" src="../../../assets/imagem.png">
                        <div class="descricaoContainer">
                            <h2 class="nomeProduto">Pizza de Marguerita</h2>
                            <p class="descricaoProduto">(Muçarela, presunto, tomate , orégano, cebola, ovos)</p>
                        </div>
                        <div class="precoContainer">
                            <p class="precoProduto">R$ 60</p>
                            <button class="botaoComprar" onclick="addProdAoCarrinho()">Comprar</button>
                        </div>
                    </div>
                    <div class="card">
                        <img src="../../../assets/imagem.png" class="imgCard">
                        <div class="descricaoContainer">
                            <h2 class="nomeProduto">Pizza de Marguerita</h2>
                            <p class="descricaoProduto">(Muçarela, presunto, tomate , orégano, cebola, ovos)</p>
                        </div>
                        <div class="precoContainer">
                            <p class="precoProduto">R$ 60</p>
                            <button class="botaoComprar">Comprar</button>
                        </div>
                    </div>
                    <div class="card">
                        <img src="../../../assets/imagem.png" class="imgCard">
                        <div class="descricaoContainer">
                            <h2 class="nomeProduto">Pizza de Marguerita</h2>
                            <p class="descricaoProduto">(Muçarela, presunto, tomate , orégano, cebola, ovos)</p>
                        </div>
                        <div class="precoContainer">
                            <p class="precoProduto">R$ 60</p>
                            <button class="botaoComprar">Comprar</button>
                        </div>
                    </div>
                    <div class="card">
                        <img src="../../../assets/imagem.png" class="imgCard">
                        <div class="descricaoContainer">
                            <h2 class="nomeProduto">Pizza de Marguerita</h2>
                            <p class="descricaoProduto">(Muçarela, presunto, tomate , orégano, cebola, ovos)</p>
                        </div>
                        <div class="precoContainer">
                            <p class="precoProduto">R$ 60</p>
                            <button class="botaoComprar">Comprar</button>
                        </div>
                    </div>
                    <div class="card">
                        <img src="../../../assets/imagem.png" class="imgCard">
                        <div class="descricaoContainer">
                            <h2 class="nomeProduto">Pizza de Marguerita</h2>
                            <p class="descricaoProduto">(Muçarela, presunto, tomate , orégano, cebola, ovos)</p>
                        </div>
                        <div class="precoContainer">
                            <p class="precoProduto">R$ 60</p>
                            <button class="botaoComprar">Comprar</button>
                        </div>
                    </div>
                    <div class="card">
                        <img src="../../../assets/imagem.png" class="imgCard">
                        <div class="descricaoContainer">
                            <h2 class="nomeProduto">Pizza de Marguerita</h2>
                            <p class="descricaoProduto">(Muçarela, presunto, tomate , orégano, cebola, ovos)</p>
                        </div>
                        <div class="precoContainer">
                            <p class="precoProduto">R$ 60</p>
                            <button class="botaoComprar">Comprar</button>
                        </div>
                    </div>
                    <div class="card">
                        <img src="../../../assets/imagem.png" class="imgCard">
                        <div class="descricaoContainer">
                            <h2 class="nomeProduto">Pizza de Marguerita</h2>
                            <p class="descricaoProduto">(Muçarela, presunto, tomate , orégano, cebola, ovos)</p>
                        </div>
                        <div class="precoContainer">
                            <p class="precoProduto">R$ 60</p>
                            <button class="botaoComprar">Comprar</button>
                        </div>
                    </div>
                    <div class="card">
                        <img src="../../../assets/imagem.png" class="imgCard">
                        <div class="descricaoContainer">
                            <h2 class="nomeProduto">Pizza de Marguerita</h2>
                            <p class="descricaoProduto">(Muçarela, presunto, tomate , orégano, cebola, ovos)</p>
                        </div>
                        <div class="precoContainer">
                            <p class="precoProduto">R$ 60</p>
                            <button class="botaoComprar">Comprar</button>
                        </div>
                    </div>
                    <div class="card">
                        <img src="../../../assets/imagem.png" class="imgCard">
                        <div class="descricaoContainer">
                            <h2 class="nomeProduto">Pizza de Marguerita</h2>
                            <p class="descricaoProduto">(Muçarela, presunto, tomate , orégano, cebola, ovos)</p>
                        </div>
                        <div class="precoContainer">
                            <p class="precoProduto">R$ 60</p>
                            <button class="botaoComprar">Comprar</button>
                        </div>
                    </div>
                </div>
            </div>
            
            <div id="sidebar">
                <img id="logo" src="../../../assets/397b43ea8048bab70f0699cbeb3ace55.png">
                
                <ul id="navLinks">
                    <li id="secaoSelecionada"><a>Todos</a></li>
                    <li><a>Pizza</a></li>
                    <li><a>Sobremesa</a></li>
                    <li><a>Pastel</a></li>
                    <li><a>Açai</a></li>
                    <li><a>Bebidas</a></li>
                </ul>
            </div>
        </div>
    </body>
</html>