.main {
    height: 100vh;
    width: 100vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.banner {
    display: none;
}

.main-content {
    height: 100vh;
    width: 100vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.formulario {
    height: 50vh;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.titulo {
    color: var(--azul)
}

input {
    width: 90%;

    border-radius: 5px;
}

.inputText {
    height: 7vh;
    width: 77%;

    padding-left: 13%;

    font-weight: 400;

    border: 1px solid #EBF0FF;
}

.inputUser {
    background: url(../assets/User.svg) no-repeat scroll 7px 12px;
}

.inputEmail {
    background: url(../assets/Message.svg) no-repeat scroll 7px 12px;
}

.inputSenha {
    background: url(../assets/Password.svg) no-repeat scroll 7px 12px;
}

.inputButton {
    height: 8vh;

    font-weight: 700;

    cursor: pointer;
}

.inputLogin {
    color: white;
    border: 0px;
    background-color: var(--amarelo);
}

.inputGoogle {
    color: #9098B1;

    border: 1px dotted #9098B1;

    background-color: white;
    background: url(../assets/Google.svg) no-repeat scroll 7px 12px;
}

.obs {
    font-weight: 400;
}

a {
    font-weight: 700;
}

@media (min-width:801px) {
    .banner {
        height: 100%;
        width: 37.5%;

        display: block;
    }

    .main {
        flex-direction: row;
    }

    .main-content {
        height: 100vh;
        width: 63.5%;
    }

    .formulario {
        height: 60%;
        width: 50%;
    }
}