<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Projeto Tegrafood, feito com o objetivo de replicar um site de compra de alimentos diversos.">
        <link rel="stylesheet" type="text/css" href="..\styleLoginCadastro.css">
        <link rel="stylesheet" type="text/css" href="..\global.css">
        <link rel="shortcut icon" href="#">
        <title>Cadastro</title>
    </head>
    <body>
        <div class="main">
            <img class="banner" src="../../assets/14edc6e22f5cf1f130e7efac6ddb6394.jpg" alt="banner">
            <div class="main-content">
                <h2 class="titulo">Vamos começar!</h2>
                <p class="descricao">Crie uma nova conta</p>
                
                <form class="formulario">
                    <input class="inputText inputUser" type="text" placeholder="Nome completo">
                    <p id="avisoText" style="color: red; font-size: 12px; display: none; margin-bottom: -3vh"></p>
                    <input class="inputText inputEmail" type="email" placeholder="Seu e-mail" autocomplete="on">
                    
                    <p id="avisoText2" style="color: red; font-size: 12px; display: none; margin-bottom: -3vh"></p>
                    <input class="inputText inputSenha" type="password" placeholder="Senha">
                    <input class="inputText inputSenha" type="password" placeholder="Confirme sua senha">
                    
                    <p id="avisoText3" style="color: green; font-size: 12px; display: none; margin-bottom: -3vh"></p>
                    <input class="inputButton inputLogin" type="button" value="Cadastrar" onclick="cadastrar()">
                </form>
                
                <p class="descricao obs">Já tem uma conta? <a href="../login/login.html">Entrar</a></p>
            </div>
        </div>
        <script src="../../controller/signUpFunctions.js"></script>
        <script src="../../services/signUpServices.js"></script>
        <script>
            const inputNome = document.getElementsByClassName('inputUser')[0]
            const inputEmail = document.getElementsByClassName('inputEmail')[0]
            const inputSenha = document.getElementsByClassName('inputSenha')[0]
            const inputSenhaC = document.getElementsByClassName('inputSenha')[1]
            const textoAviso = document.getElementById('avisoText')
            const textoAviso2 = document.getElementById('avisoText2')
            const textoAviso3 = document.getElementById('avisoText3')
        </script>
    </body>
</html>