<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="..\styleLoginCadastro.css">
        <link rel="stylesheet" type="text/css" href="..\global.css">
        <link rel="shortcut icon" href="#">
        <title>Cadastro</title>
    </head>
    <body>
        <div class="main">
            <img class="banner" src="../../assets/14edc6e22f5cf1f130e7efac6ddb6394.jpg">
            <div class="main-content">
                <h2 class="titulo">Vamos começar!</h2>
                <p class="descricao">Crie uma nova conta</p>
                
                <form class="formulario">
                    <input class="inputText inputUser" type="text" placeholder="Nome completo">
                    <input class="inputText inputEmail" type="text" placeholder="Seu e-mail">
                    <input class="inputText inputSenha" type="password" placeholder="Senha">
                    <input class="inputText inputSenha" type="password" placeholder="Confirme sua senha">
                    
                    <input class="inputButton inputLogin" type="button" value="Entrar">
                </form>
                
                <p class="descricao obs">Já tem uma conta? <a href="../login/login.html">Entrar</a></p>
            </div>
        </div>
    </body>
</html>