<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="..\..\global.css">
        <link rel="stylesheet" type="text/css" href="style.css">
        <title>Carrinho</title>
    </head>
    <body>
        <script>
            function menuClick(){
                let menu = document.getElementById('sidebar');
                let menuState = menu.style.display === 'none';
                
                menu.style.display = 'flex';
                
                document.addEventListener('click', checkClick);
            }
            
            function checkClick(evt){
                const menu = document.getElementById('sidebar');
                const button = document.getElementById('hamburgerMenu');
                let targetElement = evt.target;
                
                if (targetElement != menu && !menu.contains(event.target) && targetElement != button && !button.contains(event.target)) {
                    menu.style.display = 'none';
                    document.removeEventListener('click', checkClick);
                }
            }
        </script>
        <div id="main">
            <div id="mainContent">
                <nav id="navbar">
                    <button id="hamburgerMenu" class="iconButton" onclick="menuClick()"></button>
                    <div id="navbarFunctions">
                        <button id="shoppingCart" class="iconButton"></button>
                        <button id="notifications" class="iconButton"></button>
                        <button id="userProfile" class="iconButton"></button>
                    </div>
                </nav>
                
                
                <div id="cardContainer">
                    <div id="listingFunctions">
                        <div id="sectionDiv">
                            <h2 class="titulo">Carrinho</h2>
                        </div>
                    </div>
                    <div class="card">
                        <img class="imgCard" src="../../../assets/imagem.png">
                        <div class="descricaoContainer">
                            <h2 class="nomeProduto">Pizza de Marguerita</h2>
                            <p class="descricaoProduto">(Muçarela, presunto, tomate , orégano, cebola, ovos)</p>
                        </div>
                        <div class="precoContainer">
                            <p class="precoProduto">R$ 60</p>
                            <select class="qntdComprar">
                                <option value="1">1x</option>
                                <option value="2">2x</option>
                                <option value="3">3x</option>
                            </select>
                        </div>
                    </div>
                    <div class="card">
                        <img class="imgCard" src="../../../assets/imagem.png">
                        <div class="descricaoContainer">
                            <h2 class="nomeProduto">Pizza de Marguerita</h2>
                            <p class="descricaoProduto">(Muçarela, presunto, tomate , orégano, cebola, ovos)</p>
                        </div>
                        <div class="precoContainer">
                            <p class="precoProduto">R$ 60</p>
                            <select class="qntdComprar">
                                <option value="1">1x</option>
                                <option value="2">2x</option>
                                <option value="3">3x</option>
                            </select>
                        </div>
                    </div>
                    <div class="card">
                        <img class="imgCard" src="../../../assets/imagem.png">
                        <div class="descricaoContainer">
                            <h2 class="nomeProduto">Pizza de Marguerita</h2>
                            <p class="descricaoProduto">(Muçarela, presunto, tomate , orégano, cebola, ovos)</p>
                        </div>
                        <div class="precoContainer">
                            <p class="precoProduto">R$ 60</p>
                            <select class="qntdComprar">
                                <option value="1">1x</option>
                                <option value="2">2x</option>
                                <option value="3">3x</option>
                            </select>
                        </div>
                    </div>
                    <div id="secaoFimPedido">
                        <div id="cuponsDiv">
                            <h2 class="nomeProduto">Cupom de desconto</h2>
                            <div id="inputCupomSection">
                                <input type="text" id="inputCupom"></input>
                                <button id="btnAddCupom">+</button>
                            </div>
                        </div>
                        <table id="tabelaTotal">
                            <tr class="rowTabela">
                                <th>Subtotal</th>
                                <th>R$ 83,00</th>
                            </tr>
                            <tr class="rowTabela">
                                <th>Entrega</th>
                                <th><a id="btnCalcularEntrega">Calcular</a></th>
                            </tr>
                            <tr class="rowTabela">
                                <th>Total</th>
                                <th>R$ 83,00</th>
                            </tr>
                        </table>
                    </div>
                    <div id="userOptions">
                        <a id="btnEscolherMais">Escolher mais</a>
                        <button id="btnFinalizarPedido">Finalizar compra</button>
                    </div>
                </div>
            </div>
            
            <div id="sidebar">
                <img id="logo" src="../../../assets/397b43ea8048bab70f0699cbeb3ace55.png">
                
                <ul id="navLinks">
                    <li><a>Todos</a></li>
                    <li><a>Pizza</a></li>
                    <li><a>Sobremesa</a></li>
                    <li><a>Pastel</a></li>
                    <li><a>Açai</a></li>
                    <li><a>Bebidas</a></li>
                </ul>
            </div>
        </div>
    </body>
</html>