<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="..\..\global.css">
        <link rel="stylesheet" type="text/css" href="style.css">
        <link rel="shortcut icon" href="#">
        <title>Listagem de Produtos - Cliente</title>
    </head>
    <body>
        <div id="main">
            <div id="mainContent">
                <nav id="navbar">
                    <button id="hamburgerMenu" class="iconButton" onclick="menuClick()"></button>
                    <div id="navbarFunctions">
                        <button id="shoppingCart" class="iconButton" onclick="window.location = '../carrinho/carrinho.html'"></button>
                        <button id="notifications" class="iconButton"></button>
                        <button id="userProfile" class="iconButton"></button>
                    </div>
                </nav>
                
                <div id="notifContainer" class="animarNotif">
                    <div id="notif">
                        <p id="notifMessage" class="notifText">Item adicionado ao carrinho</p>
                        <a id="btnIrAoCarrinho" class="notifText" href="../carrinho/carrinho.html">Ir para o carrinho</a>
                    </div>
                </div>
                
                <div id="cardContainer">
                    <div id="listingFunctions">
                        <div id="sectionDiv">
                            <h2 class="titulo">Produtos</h2>
                            <h2 id ="secaoAtual" class="titulo">Todos</h2>
                        </div>
                        <div id="sortingFunctions">
                            <button id="filter" class="iconButton" onclick="filterMenuClick()"></button>
                            <button id="sortByAlpha" class="iconButton" onclick="sortByAlpha()"></button>
                            <div id="filterOptions">
                                <p id="txtSorting">Filtrar por preço: </p>
                                <div id="filterOptionsContainer">
                                    <button class="botaoOpcoes botaoFill" onclick="filtrarPorPreco(event)">Todos</button>
                                    <button class="botaoOpcoes botaoFill" onclick="filtrarPorPreco(event)">R$5 à R$25</button>
                                    <button class="botaoOpcoes botaoFill" onclick="filtrarPorPreco(event)">R$26 à R$45</button>
                                    <button class="botaoOpcoes botaoFill" onclick="filtrarPorPreco(event)">R$46 ou mais</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="cards"></div>
                </div>
            </div>
            
            <div id="sidebar">
                <img id="logo" src="../../../assets/397b43ea8048bab70f0699cbeb3ace55.png">
                
                <ul id="navLinks">
                    <li id="todos" onclick="mudarSeçao('todos')"><a>Todos</a></li>
                    <li id="pizza" onclick="mudarSeçao('pizza')"><a>Pizza</a></li>
                    <li id="sobremesa" onclick="mudarSeçao('sobremesa')"><a>Sobremesa</a></li>
                    <li id="pastel" onclick="mudarSeçao('pastel')"><a>Pastel</a></li>
                    <li id="açai" onclick="mudarSeçao('açai')"><a>Açai</a></li>
                    <li id="bebidas" onclick="mudarSeçao('bebidas')"><a>Bebidas</a></li>
                </ul>
            </div>
        </div>
        
        <script src="..\..\..\services\generalServices.js"></script>
        <script src="..\..\..\controller\clientFunctions.js"></script>
        <script src="..\..\..\controller\displayFunctions.js"></script>
        <script>
            const notification = document.getElementById('notifContainer');
            const notificationMessage = document.getElementById('notifMessage');
            const notificationButton = document.getElementById('btnIrAoCarrinho');
            const sidebarMenu = document.getElementById('sidebar');
            const sidebarButton = document.getElementById('hamburgerMenu');
            const cardContainer = document.getElementById('cards')
            
            let filtrado = false;
            let produtosFiltrados;
            let sortState = true;
            let timeoutHandle;
            let produtos;
            
            function carregar(){
                if (!sessionStorage.getItem('carrinho')){
                    sessionStorage.setItem('carrinho', JSON.stringify([]))
                }
                
                if (!sessionStorage.getItem('categoria')){
                    sessionStorage.setItem('categoria', 'todos')
                    carregarCategoria('todos');
                } else{
                    carregarCategoria(sessionStorage.getItem('categoria'));
                    document.getElementById(sessionStorage.getItem('categoria')).classList.add('secaoSelecionada');
                }
            }
            
            window.onload = carregar();
        </script>
    </body>
</html>