#main {
    height: 100vh;
    width: 100vw;

    display: flex;
    flex-direction: column;
}


/* Seção principal */

#mainContent {
    height: auto;
    min-height: 60vh;
    width: 100%;

    margin-top: 8.25vh;
    padding-top: 1.75vh;

    overflow-y: auto;
}


/* Navbar */

#navbar {
    height: 8.25vh;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;
    margin-bottom: 1vh;

    background-color: var(--amarelo);

    user-select: none;
}

#navbarFunctions {
    margin-right: 3vw;
}

.iconButton {
    height: 30px;
    width: 30px;

    background: transparent;

    border: 0;

    cursor: pointer;
}

#hamburgerMenu {
    background: url(../../../assets/menu.svg) no-repeat scroll 12px 6px;
}

#shoppingCart {
    background: url(../../../assets/shopping_cart.svg) no-repeat scroll;
}

#notifications {
    background: url(../../../assets/notifications.svg) no-repeat scroll;
}

#userProfile {
    background: url(../../../assets/User.svg) no-repeat scroll;
}


/* Seção de cards de produtos */

#cardContainer {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-bottom: 3vh;
}

#cards {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.3vh;
}


/* Seção de funções de listagem */

#listingFunctions {
    height: 30px;
    width: 90%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin-left: 1%;
    margin-bottom: 2vh;
}

#sectionDiv {
    display: flex;
    flex-direction: row;
    gap: 3vw;
}

#secaoAtual {
    color: var(--amarelo);

    border-bottom: 2px solid var(--amarelo);
}

#sortingFunctions {
    position: relative;
}

#filterOptions {
    height: 32.6vh;
    width: 55vw;

    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 5vh;
    right: -3vw;

    background-color: white;

    border: 0.3px solid rgba(0, 0, 0, 0.5);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

#filterOptionsContainer {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1vh;
}

#txtSorting {
    color: var(--azul);
    font-size: 14px;
    font-weight: 500;
}

.botaoOpcoes {
    height: 5vh;
    width: 80%;

    font-weight: 500;
}

#filter {
    background: url(../../../assets/filter_alt.svg) no-repeat scroll 0px 5.5px;
}

#sortByAlpha {
    background-color: var(--amarelo);
    mask-image: url(../../../assets/sort_by_alpha.svg);
    mask-repeat: no-repeat;
    mask-position: 0px 3.5px;
}


/* Estrutura de card de produto */

.card {
    height: 15vh;
    width: 97.5%;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    border: 0.3px solid rgba(0, 0, 0, 0.5);
    /*box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.3);*/
    border-radius: 8px;

    overflow: none;
}

.imageCropper {
    width: 18%;
    max-width: 80px;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;

    border-radius: 50%;

    overflow: hidden;
}

.imgCard {
    width: 100%;
    max-width: 80px;

    display: inline;

    margin: 0 auto;
}

.descricaoContainer {
    width: 45vw;
}

.nomeProduto {
    color: var(--azul);
    font-size: 12px;
    text-shadow: 0px 3px 5px rgba(0, 0, 0, 0.25);
}

.descricaoProduto {
    color: rgba(0, 0, 0, 0.5);
    font-size: 10px;
    font-weight: 500;
}

.precoContainer {
    width: 22vw;
}

.precoProduto {
    color: var(--azul);
    font-size: 12px;
    font-weight: 600;
}

.botaoComprar {
    height: 5vh;
    width: 22vw;
}


/* Sidebar */

#sidebar {
    height: 100vh;
    width: 60vw;

    display: none;
    flex-direction: column;

    position: fixed;
    top: 0px;
    left: 0px;

    background-color: var(--vermelho);
}

#navLinks {
    width: 100%;

    list-style-type: none;
}

#navLinks>li {
    height: 6.29vh;

    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
    font-size: 18px;
    font-weight: 500;

    border-top: 1px solid white;
    
    transition: all 0.2s ease-in-out;

    user-select: none;
    cursor: pointer;
}

#navLinks>li:not(.secaoSelecionada):hover {
    background-color: rgba(0, 0, 0, 0.3);
}

#navLinks>li:last-child {
    border-bottom: 1px solid white;
}

.secaoSelecionada {
    background-color: var(--amarelo);
}


/* Notificação */

#notifContainer {
    height: 8.6vh;
    width: 100%;

    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: fixed;
    bottom: 1vh;
    left: 0vh;
    z-index: 5;
}

#notif {
    height: 100%;
    width: 90%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 1vh 3vw;

    border-radius: 6px;

    background-color: var(--azul);
}

.notifText {
    color: white;
    font-size: 12px;
    font-weight: 500;
}

#btnIrAoCarrinho {
    height: 100%;

    display: flex;
    align-items: center;

    color: var(--amarelo);
}


/* Animações */

.animarNotif {
    animation: animarNotif 0.3s ease-in-out;
    animation-iteration-count: 1;
}

@keyframes animarNotif {
    0%   {margin-bottom: -10vh;}
    100% {margin-bottom: 0vh;}
}


/* Adaptações de classes globais */

.titulo {
    color: var(--azul);
    font-size: 18px;
}


@media (min-width:801px) {
    #main {
        flex-direction: row;

        overflow-x: hidden
    }

    #mainContent {
        width: 80%;

        margin-left: 20%;
    }

    #navbar {
        justify-content: flex-end;
    }

    #hamburgerMenu {
        display: none;
    }

    #notif {
        width: 44%;
    }

    #filterOptions {
        height: 32vh;
        width: 26vw;
    }

    .botaoOpcoes {
        width: 60%;
    }

    #sidebar {
        width: 20%;

        display: flex;
    }
}